services:
  mongo:
    image: mongo:6
    ports: ["27017:27017"]
    volumes: ["~/mongo-data:/data/db"]

  redis:
    image: redis:7
    ports: ["6379:6379"]
    command: ["redis-server", "--save", "60", "1"]

  backend:
    # build: ./backend
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports: ["5050:5050"]
    environment:
      - MONGO_URI=mongodb://mongo:27017/humandiscord
      - REDIS_URL=redis://redis:6379
    depends_on: ["mongo","redis"]
